* {
    margin: 0;
    border: 0;
    padding: 0;
    scrollbar-width: none;
    font-family: Sunshiney, cursive;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url(../img/Background2.png);
    background-size:contain;
}

.meio {
    position: relative;
    display: flex;
    margin-top: 5vw;

    width: 60vw;
    min-height: fit-content;
    flex-direction: column;
    align-items: center;

    background-color: var(--fresh-butter);
    border: 0.3vw solid var(--moss);
    border-radius: 20px;
    padding: 2vw 0.5vw;
}

.botao-voltar {
    position: absolute;
    top: 5vh;
    left: 2vw;
    cursor: url('../img/Original/Patinha_Click.png'), auto;
}

.meio img {
    width: 5vw;
    height: auto;
}


.topo-cadastro {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.topo-cadastro img {
    width: 30vw;
    height: auto;
}

.topo-cadastro h1 {
    width: 26vw;
    color: var(--fresh-butter);
    background-color: var(--evergreen);
    box-shadow: 0 4px 5px var(--evergreen);
    margin-top: 2vw;
    margin-bottom: 2vw;
    border: 8px solid var(--moss);
    border-radius: 50px;
    font-size: 3vw;
    font-weight: 300;    
    text-align: center;
}

.campos-superiores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-cadastro {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 4vw;
    width: 100%;
}

.coluna-esquerda,
.coluna-direita {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 22vw;
    text-align: left;
    font-size: 2vw;
    color: var(--moss);
}

input {
    background-color: white;
    width: 20vw;
    height: 1vh;
    font-size: 2vw;
    margin-bottom: 0.5vw;
    border: 3px solid var(--moss);
    border-radius: 50px;
    padding: 1.3vw;
    outline: none;
}

.botao-cadastrar {
    width: 15vw;
    margin-top: 2vw;
    margin-bottom: 1vw;    
    border: 0.4vw solid var(--black-bean);
    border-radius: 50px;
    padding: 0.3vw;    
    font-size: 2vw;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    color: var(--black-bean);
    background-color: var(--moss);
    box-shadow: 0px 4px 4px 0px var(--black-bean);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: url('../img/Original/Patinha_Click.png'), auto;
}

.botao-cadastrar:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 12px var(--black-bean);
}

.botao-cadastrar:active { /* faz diferença? */
    transform: translateY(2px);
    box-shadow: 0px 1px 2px var(--black-bean); 
}
