* {
    margin: 0;
    border: 0;
    padding: 0;
    scrollbar-width: none;
    font-family: Sunshiney, cursive;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/Background2.png);
    background-size: cover;
}

header {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    height: 3vh;
    padding: 1vw 0 1vw 0;
    background-color: var(--fresh-butter);
}

header hr {
    width: 100vw;
    border: none;
    border-bottom: 0.2vw dashed var(--linha);
}

.meio {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65vw;
    min-height: fit-content;
    background-color: var(--fresh-butter);
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 0.3vw solid var(--moss);
    border-radius: 20px;
    padding: 2vw 0.5vw;
}

.botao-voltar {
    position: absolute;
    top: 3vh;
    left: 3vw;
    cursor: url('../img/Original/Patinha_Click.png'), auto;

}

.meio img {
    width: 6vw;
    height: auto;
}

.topo-edicao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.topo-edicao img {
    width: 30vw;
    height: auto;
}

.topo-edicao h1 {
    width: 30vw;
    color: var(--fresh-butter);
    background-color: var(--evergreen);
    box-shadow: 0 4px 5px var(--evergreen);
    margin-top: 2vw;
    margin-bottom: 2vw;
    border: 8px solid var(--moss);
    border-radius: 50px;
    font-size: 4vw;
    font-weight: 300;    
    text-align: center;
}

.campos-superiores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-edicao {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4vw;
    width: 100%;
}

.coluna-esquerda,
.coluna-direita {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 23vw;
    text-align: left;
    font-size: 2vw;
    color: var(--moss);
}

input {
    background-color: white;
    width: 23vw;
    font-size: 2vw;
    margin-bottom: 0.5vw;
    border: 3px solid var(--moss);
    border-radius: 50px;
    padding: 1.3vw;
    outline: none;
}

.botao-editar {
    width: 15vw;
    margin-top: 2vw;
    margin-bottom: 1vw;    
    border: 0.4vw solid var(--black-bean);
    border-radius: 50px;
    padding: 0.3vw;    
    font-size: 2vw;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    color: var(--black-bean);
    background-color: var(--moss);
    box-shadow: 0px 4px 4px 0px var(--black-bean);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: url('../img/Original/Patinha_Click.png'), auto;
}

.botao-editar:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 12px var(--black-bean);
}

.botao-editar:active { /* faz diferença? */
    transform: translateY(2px);
    box-shadow: 0px 1px 2px var(--black-bean); 
}

footer {
    display: flex;
    align-items: flex-start;
    width: 100vw;
    height: 3vw;
    padding: 1vw 0 0 0;
    background-color: var(--fresh-butter);
    margin-top: auto;
}

footer hr {
    width: 100vw;
    border: none;
    border-top: 0.2vw dashed var(--linha);
}