* {
    margin: 0;
    border: 0;
    padding: 0;
    font-family: Sunshiney, cursive;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(../img/Background2.png);
    background-size: cover;
    overflow: hidden;
}

header {
    display: flex;
    align-items: flex-end;
    width: 100vw;
    height: 4vh;
    background-color: var(--fresh-butter);
    padding: 1vh 0;
}

header hr {
    width: 100vw;
    border: none;
    border-bottom: 0.2vw dashed var(--linha);
}

.meio {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60vw;
    max-height: 80vh;
    background-color: var(--fresh-butter);
    margin-top: 5vh;
    margin-bottom: 5vh;
    border: 0.3vw solid var(--moss);
    border-radius: 20px;
    padding: 4vh 0.5vw;
    overflow-y: auto;
    overflow-x: hidden;
}

.meio::-webkit-scrollbar {
    width: 0.5vw;
}

.meio::-webkit-scrollbar-track {
    background: transparent;
    margin: 1vw; 
}

.meio::-webkit-scrollbar-thumb {
    background-color: var(--evergreen);
    border-radius: 20px;
}

.botao-voltar {
    position: absolute;
    top: 5vh;
    left: 2vw;
    cursor: url('../img/Original/Patinha_Click.png'), auto;
}

.meio img {
    width: 5vw;
    height: auto;
}

.topo-edicao {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

.topo-edicao img {
    width: 30vw;
    height: auto;
}

.topo-edicao h1 {
    width: 26vw;
    background-color: var(--evergreen);
    box-shadow: 0 4px 5px var(--fresh-butter-shadow);
    margin-top: 2vw;
    margin-bottom: 2vw;
    border: 8px solid var(--moss);
    border-radius: 50px;
    color: var(--fresh-butter);
    font-size: 3vw;
    font-weight: 300;    
    text-align: center;
}

.campos-superiores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.base-edicao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    column-gap: 3vw;
}

.coluna-esquerda,
.coluna-direita {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    width: 22vw;
    color: var(--moss);
    font-size: 2vw;
    text-align: left;
}

input {
    width: 20vw;
    height: 1vh;
    margin-bottom: 0.5vw;
    border: 3px solid var(--moss);
    border-radius: 50px;
    padding: 1.3vw;
    background-color: white;
    font-size: 2vw;
    outline: none;
}

.botao-editar {
    width: 15vw;
    margin-top: 4vh;
    border: 0.4vw solid var(--black-bean);
    border-radius: 50px;
    padding: 0.3vw;
    background-color: var(--moss);
    box-shadow: 0px 4px 4px 0px var(--fresh-butter-shadow);    
    color: var(--black-bean);
    font-size: 2vw;
    font-weight: 300;
    text-align: center;
    text-decoration: none;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    cursor: url('../img/Original/Patinha_Click.png'), auto;
}

.botao-editar:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 12px var(--fresh-butter-shadow);
}

.botao-editar:active { /* faz diferença? */
    transform: translateY(2px);
    box-shadow: 0px 1px 2px var(--fresh-butter-shadow); 
}

footer {
    display: flex;
    align-items: flex-start;
    width: 100vw;
    height: 4vh;
    padding: 1vh 0;
    background-color: var(--fresh-butter);
}

footer hr {
    width: 100vw;
    border: none;
    border-top: 0.2vw dashed var(--linha);
}