@keyframes surgirModal {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

dialog[open] {
    animation: surgirModal 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

dialog[open]::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
}

/*todos os frufrus acima são pra fazer uma animação no modal e no fundo dele*/

* {
    margin: 0;
    padding: 0;
    scrollbar-width: none;
}

body{
    background-image: url(../img/Background2.png);
    background-size: cover;
}

header{
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100vw;
    height: 4vh;
    padding: 1vw 0 1vw 0;
    background-color: var(--fresh-butter);
}

header hr{
    position: absolute;
    width: 100vw;
    border: none;
    border-top: 0.2vw dashed var(--linha);   
}

.menu-geral{
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100vw;
    height: 20vh;
}

.meio{
    display: flex;
    justify-content: center;
    justify-self: center;
    align-self: center;
    background-color: var(--fresh-butter);
    border: 0.3vw solid var(--moss);
    border-radius: 1.5vw;
    width: 60vw;
    height: 60vh;
    padding: 2vw;
    gap: 2vw;
}

dialog {
    overflow: visible !important;
    margin: auto;
    align-items: center;
    justify-content: center;

    background-color: var(--toasted-caramel);
    border: 0.3vw solid var(--black-bean);
    border-radius: 1.5vw;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);

    padding: 3vw 4vw;
    width: 25vw;
    height: 65vh; 
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.6);
}

#bandeira{
    width: 45vw;
    height: auto;
    position: absolute;
    top: -6vw;
    left: 50%; 
    transform: translateX(-50%);
}

.caixa-modal{ /*é a caixa bege*/
    margin: 0;
    display: grid;
    align-self: center;
    justify-self: center;

    align-items: center;
    justify-content: center;

    position: absolute;
    top: 3vw;

    background-color: var(--fresh-butter);
    border: 0.3vw solid var(--moss);
    box-shadow: 0px 4px 4px 0px #673921;
    border-radius: 1.5vw;
    
    padding: 1.5vw 2vw;
    width: 25vw;
    height: 45vh;
}

.caixa-modal h1{
    font-family: Sunshiney, cursive;
    font-size: 2.5vw;
    font-weight: 300;

    color: var(--fresh-butter);
    background-color: var(--evergreen);

    border: 0.3vw solid var(--moss);
    border-radius: 2vw;
    box-shadow: 0px 4px 4px 0px #756B2F;
    margin-bottom: 1.5vw;
    width: 17vw;

    text-align: center;
    justify-self: center;
    align-self: center;
}

.modal-menu{ /*é a caixinha com as infos + o gato*/
    display: flex;
    gap: 1vw;
    align-items: center;
    justify-items: center;
}

.modal-menu img{
    width: 12vw;
}

.modal-menu .info{ /*é a caixinha verde com puramente as infos*/
    background-color: var(--moss);
    border: 0.3vw solid var(--evergreen);
    border-radius: 1.5vw;
    width: 13vw;
    height: 30vh;
    box-shadow: 0px 4px 4px 0px #9F9268;

    padding: 0.5vw;
}

.modal-botoes{ /*caixa invisivel para centralizar os botões*/
    position: absolute;
    bottom: 2vh;
    gap: 1.5vw;
    left: 50%;
    transform: translateX(-50%); /* Centraliza perfeitamente os botões */
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao{
    width: 12vw; 
    height: auto;
    cursor: url('../img/Original/Patinha_Click.png'), auto;
}

footer{
    display: grid;
    height: 10vh;
    padding: 1vw 0 0 0;
    background-color: var(--fresh-butter);
}

footer hr{
    border: none;
    border-top: 0.2vw dashed var(--linha); 
}