@import url('https://fonts.googleapis.com/css2?family=Sunshiney&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gorditas:wght@400;700&family=Sunshiney&display=swap');

:root{
  --fresh-butter: #E9D2A8;
  --moss: #9F9268;
  --toated-caramel: #875B2E;
  --black-bean: #673921;
  --evergreen: #5B501A;
}
